/* 작성자 : 김민찬 */
.login{
    margin-left: 35%;
    width: 30%;
    min-height: 380px;
    margin-top: 200px;
}

.signUpForm{
    margin-left: 20%;
    width: 60%;
    margin-top: 200px;
}


fieldset{
    border-color: #fff;
    border: 1px;
}

.input input[ type="text"], .input input[type="password"]{
    width: 100%;
    height: 65px;
    padding-left: 25px;
    border: 1px solid #eee;
    box-sizing: border-box;
    font-size: 16px;
}

.btn-login button{
    border: none;
    margin: 0;
    padding: 10px;
    cursor:pointer;
    background-color: #34483B;
    color: #fff;
    width: 100%;
    border-radius: 3px;
}

.join{
    text-align: right;
}
.join li{
    list-style:none;
}
.join li a{
    text-decoration: none;
    color: #666666;
    font-size: 13px;
}




.input_F{
    padding-bottom: 10px;
}

.input_F input[ type="text"], .input_F input[type="password"]{
    width: 100%;
    height: 65px;
    padding-left: 25px;
    border-bottom: 1px solid #eee;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

.input_F input:focus{
   outline: none;
}


.radio, .select{
    padding-top: 20px;
    padding-left: 30px;
}
.signUpForm-btn{
    text-align: center;
    padding: 30px;
}
.signUpForm-btn input[type="submit"], .signUpForm-btn input[type="reset"]{
    padding: 10px;
    background-color:#FFF;
    border: 1px;
    cursor: pointer;
}

.signUpForm-btn input[type="submit"] :focus, .signUpForm-btn input[type="reset"]:focus{
    
}