@CHARSET "UTF-8";

.wrap {
	width: 100%;
	margin: 5px auto;
	position: relative;
}
.tree {
	width: 100%;
	vertical-align: middle;
}
.tree_text {
	padding: 5px 10px;
    color:white;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}