/* 전체 영역 (아래 공백 영역 제외) */

element.style {
    position: relative;
    min-height: 100%;
    top: 0px;
}

.wrap {
    min-width: 1226px;
    height: 100%;
    margin: 0 auto;
}

.sub_layout {
    padding: 130px 0 0;
}

.sub_contents {
    width: 1144px;
    margin: 0 auto;
}

.container_area {
    padding-bottom: 300px;
}

/* 하이어라키 영역 */
.sub_contents, .hierarchy_list {
    width: auto;
}

.hierarchy_list {
    width: 1143px;
    margin: 30px auto 0;
    *zoom: 1;
}

.hierarchy_list li:first-child {
    padding-left: 0;
    margin-left: 0;
    background-image: none;
}

.hierarchy_list li {
    float: left;
    height: 20px;
    padding-left: 30px;
    margin-left: 21px;
    line-height: normal;
    background: url(../../img/ESG_infrasystem/distribution_system/icon_hierarchy.png) no-repeat left center;
}

.hierarchy_list li img {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

.hierarchy_list .depth_2 {
    background-color: transparent;
}

.m_hierarchy {
    display: block;
    height: auto;
    padding-left: 0;
    margin-right: 0;
    background-image: none;
    font-size: 15px;
    color: #666;
    line-height: 20px;
}

.hierarchy_list .depth_3 > a {
    color: #0a9882;
}

.hierarchy_depth {
    display: none;
}

.hierarchy_list:after {
    content: "";
    display: block;
    clear: both;
}

a, a:hover, a:focus {
    text-decoration: none;
}

/* 리스트 스타일 제거 */
ol, ul, li {
    list-style: none;
}

/* 해당 태그들 기본 설정 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, address, a, select, input, textarea, header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption, button {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans';
}

html, body {
    height: 100%;
    font-size: 14px;
    line-height: 1.2;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

/* title 영역 */
.title_description {
    padding: 115px 0 150px;
}

div {
    display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.title_description .sub_description {
    margin-top: 60px;
}

/* title */
.title_sub {
    font-size: 50px;
    /* color: #000; */
    font-weight: bold;
    text-align: center;
    /* background: url(../../img/ESG_infrasystem/distribution_system/icon_green_line.jpg) no-repeat left top; */
}

/*부 title */
.sub_description {
    line-height: 1.8;
    font-size: 24px;
    color: #737373;
    text-align: center;
}

/* 인프라 영역 */
.infra_area {
    width: auto;
}

/* 인프라 내용 영역 */
.infra_text_area:first-child {
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
}

.infra_text_area {
    padding-top: 50px;
    margin-top: 50px;
    border-top: 1px dashed #ccc;
    text-align: center;
}

/* 인프라 내용 - 타이틀 */
.title_infra {
    font-size: 35px;
    color: #333;
    font-weight: normal;
    text-align: center;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* 인프라 내용 - 내용 */
.text_infra {
    margin-top: 20px;
    font-size: 17px;
    color: #666;
    line-height: 25px;
    text-align: center;
}

/* 인프라 내용 속 포인트 색 */
.text_infra .point {
    color: #00816d;
}

/* 물류시스템 지도 */
/*.distribution_map_area {
    width: 226px;
    margin: 37px auto 0;
    padding-bottom: 247px;
    position: relative;
}*/

.distribution_map_area {
    width: 417px;
    margin: 55px auto 0;
    padding-bottom: 334px;
    position: relative;
}

img {
    border: 0;
}

input, select, label, img {
    font-family: 'Noto Sans';
    vertical-align: middle;
}

/* 물류시스템 센터들 */
.distri_center1 {
    left: -287px;
    top: 56px;
}

.distri_center2 {
    left: -287px;
    top: 327px;
}

.distri_center3 {
    left: -70px;
    top: 620px;
}

.distri_center4 {
    right: -110px;
    top: 620px;
}

.distri_center5 {
    right: -364px;
    top: 340px;
}

.distri_center6 {
    right: -364px;
    top: 67px;
}

.distri_center {
    text-align: left;
    position: absolute;
}


.distri_center dl {
    margin-top: 15px;
}

.distri_center > img {
    width: 75px;
    margin-left: 10px;
}

input, select, label, img {
    font-family: 'Noto Sans';
    vertical-align: middle;
}

.distri_center dt {
    margin-bottom: 8px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.distri_center li span {
    display: block;
    margin-left: 32px;
}

.distri_center li {
    background: url(../../img/ESG_infrasystem/distribution_system/icon_gray_arrow.png) no-repeat left 5px;
    padding-left: 10px;
    font-size: 13px;
    color: #666;
    line-height: 18px;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

dt {
    display: block;
}

dd {
    display: block;
    margin-inline-start: 40px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

/* 운영 차별화 */
.title_infra {
    font-size: 35px;
    color: #333;
    font-weight: normal;
    text-align: center;
}

.text_infra {
    margin-top: 20px;
    font-size: 17px;
    color: #666;
    line-height: 25px;
    text-align: center;
}

.manage_discri_list {
    margin-top: 28px;
    text-align: left;
    *zoom: 1;
}

.manage_discri_list:after {
    content: "";
    display: block;
    clear: both;
}

.manage_discri_list li:first-child {
    margin-left: 0;
}

.manage_discri_list .manage_discri1 {
    height: 246px;
    padding-top: 130px;
    background: url(../../img/ESG_infrasystem/distribution_system/img_manage_discri1.jpg) no-repeat left top;
}

.manage_discri_list li {
    float: left;
    width: 316px;
    height: 376px;
    margin-left: 7px;
    padding-left: 30px;
    padding-right: 30px;
}

.manage_discri_list dt {
    margin-bottom: 17px;
    font-size: 25px;
    color: #fff;
    line-height: 35px;
}

.manage_discri_list dd {
    font-size: 13px;
    color: #fff;
    line-height: 25px;
}

.manage_discri_list .manage_discri2 {
    height: 246px;
    padding-top: 130px;
    background: url(../../img/ESG_infrasystem/distribution_system/img_manage_discri2.jpg) no-repeat left top;
}

.manage_discri_list .manage_discri3 {
    height: 263px;
    padding-top: 113px;
    background: url(../../img/ESG_infrasystem/distribution_system/img_manage_discri3.jpg) no-repeat left top;
}

/* 물류 프로세스 */
.distribution_process {
    margin-top: 40px;
    padding-top: 455px;
    background: url(../../img/ESG_infrasystem/distribution_system/distribution_process.jpg) no-repeat center top;
}

.blind {
    position: absolute;
    left: -999em;
    top: -999em;
    font-size: 0px;
    line-height: 0px;
    height: 0px;
}
